
# hidden folders
.__pycache__/
.ipynb_checkpoints/
.pytest_cache/
.Rproj.user/
.vscode/

# r stuff
jags/
automated-cmr.Rproj

# unneeded folders
notebooks/
results/
writing/
sim_data/
slurm/

# notebooks
*.ipynb

# config stuff
config/

# unnecessary file types
*.pyc
*.DS_Store
*.R